.container {
    padding: 15px;
    margin: 5px;
    width: 30%;
    border: 5px;
    border-radius: 10px 20px;
    background-color: #f1f1f1;
}

.addRow {
    margin-right: 10px;
}

.title {
    font-size: large;
    font-weight: bold;
}

.content-block{
    margin-bottom: 30px
}

.footer {
    position: fixed;
    bottom:2%;
}

.remove {
    color: red;
}

#tables {
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    margin: 10px;
}

th {
    text-align: center;
}

table {
    width: 100%;
}

body {
    padding: 2%;
}